.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    padding: 10px 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
    border-bottom: solid 2px white;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .navbar button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .navbar a {
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
  }
  
  .navbar button:focus {
    outline: none;
    background-color: #333;
  }
  
  .navbar button:active {
    transform: scale(0.98);
  }
  
  .navbar button:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    z-index: 0;
  }
  @media (max-width: 600px) {
    .navbar {
      flex-direction: row;
      align-items: flex-start;
      padding: 4px;
    }
  
    .navbar button {
      margin: 10px 0; 
      text-align: center; 
    }
  
    .navbar a {
      font-size: 1rem; 
    }
  }
  